/* CURRENTLY IN: styles/main.css */

.container {
	-webkit-background-size: cover;
	-moz-background-size: 	cover;
	-o-background-size: 	cover;
	background-size: 		cover;
	position:				relative;
	width:					100%;
	margin:					0px auto;
	padding:				0px;

}

#wrap img{
    position: 				fixed;
    margin-left:			0%;
    margin-right:			3%;
    display:				none;
    z-index: 				-1;
    width:					45%;
    top:					170px;
    bottom:					50px;
}

body {
	background:				black;
	margin:					0px;
}

h1 {
	font-size: 				55px;
	margin-left:			30px;
	font-weight: 			200;
}

.top {
 	background-image:	url(neileye2.jpg);
 	background-color:	black;
 	background-repeat:	no-repeat;
	width:				100%;
	height:				relative;
	overflow: 			hidden;
	top:				0px;
	position:			fixed;
	color:				black;
	padding-bottom:		50px;
	margin-bottom:		50px;
}


a { 
	color:				orange;
	text-decoration:	none;
	font-family: 		sans-serif;
	-webkit-transition: color .25s linear;	
	font-size:			20px;
}
a:hover {
	text-decoration:	none;
	color:				white;
}

p {
}

.content {
	width:				80%;
	margin-right:		2%;
	margin-left:		2%;
	float:				right;
}

nav {
	margin-bottom:		10px;
	width:				10%;
	margin-right:		0;
	margin-left:		4%;
	text-transform: 	uppercase;
	background-color:	rgba(0, 0, 0, 0.49);
	float:				left;
	line-height:		3;
	margin-top:			150px;
	position:			fixed;
}

.info {

	margin-top:			165px;
	margin-bottom:		80px;
	margin-right:		3%;
	width:				35%;
	float:				right;
	border-radius:		2px;
	background-color:	rgba(0, 0, 0, 0.49);
	color:				white;
	display:			block;
	text-align:			justify;
}

.music {

	margin-top:			170px;
	margin-bottom:		80px;
	margin-right:		3%;
	width:				35%;
	float:				right;
	border-radius:		2px;
	background-color:	rgba(0, 0, 0, 0.49);
	color:				white;
	display:			block;
	text-align:			justify;
}

.resume {

	margin-top:			140px;
	margin-bottom:		80px;
	margin-right:		10%;
	width:				80%;
	float:				right;
	border-radius:		2px;
	background-color:	rgba(0, 0, 0, 0.9);
	color:				white;
	padding:			30px;
	display:			block;
	background-color:	rgba(255, 255, 255, .05);
}

.contact {
	margin-top:			170px;
	margin-bottom:		80px;
	margin-right:		3%;
	width:				35%;
	float:				right;
	border-radius:		2px;
	background-color:	rgba(0, 0, 0, 0.49);
	color:				white;
	display:			block;
}

.info a {
	margin:				0px;
	font-size:			18px;

}

.film {
	margin-left:		12%;
	margin-top:			180px;
}



.current a {
	color:				gray;
}

footer {
	color:				gray;
	background-color:	black;
	height:				60px;
	width:				100%;
	bottom:				0px;
	position:			fixed;
	margin-left:		0px;
	padding-top:		20px;
	font-size:			12px;
}


.videos {
	margin-top:			175px;
	margin-bottom:		135px;

}

.one div {
	float:				left;
	width:				25%;
	font-size:			12px;
	line-height:		2;
}

.two div {
	float:				left;
	width:				33%;
	font-size:			12px;
	line-height:		2;
}

@media (max-width: 900px) {
	h1 {
	font-size: 				40px;
	margin-left:			15px;
	}

	.top {
 	background-image:	url(neileyes.jpg);
	}

	.one div {
	float:				left;
	width:				25%;
	line-height:		2;
	font-size:			90%;
	}

	.two div {
	float:				left;
	width:				33%;
	font-size:			90%;
	line-height:		2;
	}

}

@media (min-width: 1300px) {
	h1 {
	font-size: 				55px;
	margin-left:			50px;
	}

	.one div {
	float:				left;
	width:				25%;
	line-height:		2;
	}

	.two div {
	float:				left;
	width:				33%;
	line-height:		2;
	}

	.top {
 	background-image:	url(neilseyeb.jpg);
	}

	.resume {
		font-size:		110%;
	}
}

@media (max-width: 870px) {
	h1 {
		font-size:		  30px;
	}

	.top {
	background-image:	url(neileyetab.jpg);
	}

	#wrap img{
    position: 				fixed;
    margin-left:			0%;
    margin-right:			3%;
    display:				none;
    z-index: 				-1;
    width:					100%;
    top:					100px;
    bottom:					50px;
	}

	a {
		font-size:			12px;
	}

	li {
		text-align:			inline;
	}

	.info, .resume, .contact {
		width:				50%;
		float:				left;
		margin-top:			120px;
	}

	.resume {
		width:				90%;
		font-size:			9px;

	}

}


