/* CURRENTLY IN: styles/main.css */

.container {
	-webkit-background-size: cover;
	-moz-background-size: 	cover;
	-o-background-size: 	cover;
	background-size: 		cover;
	position:				relative;
	width:					95%;
	/*margin-left:			-15px;*/
	margin:					auto;
}

#wrap img{
    position: 				fixed;
    display:				none;
    z-index: 				-1;
    height:					100%;
    top:					50px;
}

body {
	background:			black;
}

.title {
	font-size: 			50px;
}

h1 {
	text-align:			center;
}

.top {
 	background-color: 	black;
	width: 				100%;
	overflow: 			hidden;
	top:				0px;
	position:			fixed;
	color:				white;
	margin:				auto;
}


a { 
	color:				orange;
	text-decoration:	none;
	font-family: 		sans-serif;
	-webkit-transition: color .25s linear;	
	font-size:			20px;
	margin:				20px
}
a:hover {
	text-decoration:	none;
	color:				white;
}

p {
}

nav {
	margin-bottom:		10px;
	text-transform: 	uppercase;
	background-color:	rgba(0, 0, 0, 0.49);
	float:				left;
	line-height:		3;
	margin-top:			100px;
}

.info {

	margin-top:			110px;
	margin-bottom:		80px;
	width:				30%;
	margin-left:		55%;
	margin-right:		30%;
	border-radius:		2px;
	background-color:	rgba(0, 0, 0, 0.49);
	color:				white;
	padding:			10px;
	display:			block;
}

.music {

	margin-top:			120px;
	margin-bottom:		80px;
	width:				25%;
	margin-left:		55%;
	margin-right:		30%;
	border-radius:		2px;
	background-color:	rgba(0, 0, 0, 0.49);
	color:				white;
	padding:			10px;
	display:			block;
}


.resume {

	margin-top:			110px;
	margin-bottom:		80px;
	width:				80%;
	border-radius:		2px;
	background-color:	rgba(0, 0, 0, 0.49);
	color:				white;
	padding:			10px;
	display:			block;
	margin:				auto;
}



.info a {
	margin:				0px;
	font-size:			18px;

}


.current a {
	color:				gray;
}

footer {
	color:				gray;
	background-color:	black;
	height:				40px;
	width:				100%;
	bottom:				0px;
	position:			fixed;
	margin-left:		0px;
	font-size:			12px;
}


.videos {
	margin-top:			175px;
	margin-bottom:		135px;

}

.one div {
	display:			inline;
	background-color:	blue;
	padding-left:		30px;
	padding-right:		30px;
	width:				20%;
}

